@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #e2e8f0;
  /* gray-200 */
}

.all-todo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

button {
  text-align: center;
  display: block;
  text-align: center;
  text-decoration: none;
  width: auto;
  margin: 1px;
  padding: 10px;
  font-weight: bold;
  border-bottom: 4px solid #204786;
  border-radius: 32px;
  transition: 0.2s;
}

button:hover {
  background-color: #0364ff !important;
  color: #f8fbff;
  cursor: pointer;
}

.action-button {
  display: flex;
  flex-direction: row;
  margin: 8px;
}

button {
  padding-left: 1rem;
  /* px-4 */
  padding-right: 1rem;
  padding-top: 0.5rem;
  /* py-2 */
  padding-bottom: 0.5rem;
  background-color: #5193ff;
  /* bg-blue-500 */
  color: #ffffff;
  /* text-white */
  border-radius: 0.25rem;
  /* rounded */
}

.container {
  display: flex;
  margin: auto;
  height: auto;
  min-width: 100px;
  max-width: 650px;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  /* px-8 */
  padding-right: 1rem;
  /* px-8 */
  padding-top: 1.5rem;
  /* py-6 */
  padding-bottom: 1.5rem;
  /* py-6 */
  background-color: #ffffff;
  /* bg-white */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* shadow-md */
  border-radius: 0.5rem;
  /* rounded-lg */

}

.TODO {
  text-align: center;
  font-size: 2.25rem;
  /* text-4xl */
  font-weight: bold;
  color: #4a5568;
  /* gray-700 */
  margin-bottom: 24px;
}

input {
  margin: 8px;
  border-radius: 8px;
  border: none;
  padding: 6px 16px;
}


button:active {
  margin-top: 3px;
  color: #fff;
  background: #001fb9;
  border-bottom: 1px solid #000000;

}

input {
  margin: 4px;
}

.input-area {
  max-width: 100%;
  background-color: #bdbdbd;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.incomplete-area {
  border: 2px solid #919397;
  background-color: #dcdcdc;
  width: 100%;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.complete-area {
  border: 2px solid #c7cdd2;
  background-color: #f5f8fa;
  width: 100%;
  min-height: 200px;
  padding: 8px;
  margin: 8px;
  border-radius: 8px;
}

.input-button {
  display: flex;
}

.add-btn {
  margin-left: auto;
}

.p-index {
  margin-right: 8px;
}

.editTodoInput {
  width: 110px;
}

.title {
  text-align: center;
  margin-top: 0;
  font-weight: bold;
}

.list-row {
  height: 36px;
  display: flex;
  align-items: center;
  margin: 0;
  justify-content: ce;
}

.dueDateP {
  margin-left: auto;
  margin-right: 0;
}


.todo-item {
  margin: 6px;
}

.overdue {
  background-color: #ffff66;
  color: #ff3333;
  border: 2px solid #ff3333;

}

.addTodo-form {
  margin-bottom: 16px;
}

.addtodo-p {
  display: block;
  color: #4A5568;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.addTodo-content {
  display: flex;
  display: flex;
  flex-direction: column;
  /* 縦方向に配置する */
  justify-content: center;
  /* 中央に配置する */
  width: 420px;
  padding-bottom: 24px;
}

.content-lastchild .addTodo-content:last-child {
  padding-bottom: 0;
}

.addTodo-input {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* shadow */
  appearance: none;
  /* appearance-none */
  border: 1px solid #CBD5E0;
  /* border */
  border-radius: 0.375rem;
  /* rounded */
  width: 100%;
  /* w-full */
  padding: 0.5rem 0.75rem;
  /* py-2 px-3 */
  color: #4A5568;
  /* text-gray-700 */
  line-height: 1.25rem;
  /* leading-tight */
  outline: none;
  /* focus:outline-none */
}

.addTodo-Horizontal {
  display: flex;
}


.list-row .todoList-btn {
  text-align: center;
  width: auto;
  margin: 0;
  padding: 4px;
  font-weight: bold;
  border-bottom: 4px solid #204786;
  border-radius: 24px;
  transition: 0.2s;
}